<!--Import template base.html layout-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>ADD RECEIPT</title>
  {% endblock %}
</head>

    <input type="submit" value="Submit" />
  </div>
</form>


{% block body %}

<body onload="pageLoadScripts()">


  <div class="container ">
    <div class="jumbotron">
      <h1>Add a receipt</h1>
      <p class="lead">Hello {{ userFirstName }}. Use this page to add a receipt.</p>
    </div>

    <form class="partSelect" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="username">Image</label> {{ receiptForm.image }}
        </div>
        <div class="form-group col-md-5">
          <label for="username">Group Assigned</label> {{ receiptForm.group_Assigned }}
        </div>
      </div>

    <br>
  </div>
  {% endblock %}
</body>
</html>
