<!--Import template base.html layout-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>CREATE GROUP</title>
  {% endblock %}
</head>

<body>
{% block body %}

<!-- <body onload="pageLoadScripts()"> -->


  <div class="container ">
    <div class="jumbotron">
      <h1>Create Group</h1>
      <p class="lead">Hello {{ userFirstName }}. Use this page to create a group.</p>
    </div>
    <!-- <div class="alert alert-success" id="success-checkout" role="alert">
        This is a success alert—check it out!
      </div> -->
    <form method="post">
      {% csrf_token %}
      {{ groupForm.as_p }}
      <button type="submit" class="btn btn-outline-success btn-large btn-block" role = "button">Create Group</button>
    </form>
</div>
      <!-- <div class="form-row"> -->

        <!-- <div class="form-group col-md-7">
          <label for="username">Group Name</label> {{ groupForm.group_name }}
        </div>
        <div class="form-group col-md-5">
          <label for="username">Select Member</label> {{ groupForm.group_members }}
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="">&nbsp</label>
          <button id="addItemButton" class="btn btn-outline-primary btn-large btn-block" onclick="addPartToOrder()" type="submit">Add member</button>
        </div>
        <div class="form-group col-md-6">
          <label for="">&nbsp</label>
          <button id="submitButton" class="btn btn-success btn-large btn-block" onclick="sendPostData()" type="submit">Create Group</button>
        </div>
      </div>
      <!-- <div class="form-row">
          <label for="">&nbsp</label>
           <button id="addItemButton submitButton" class="btn btn-success btn-block btn-large btn-block" onclick="addPartToOrder()" type="submit">Add</button> -->
      <!-- </div>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Phone Number</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="result" id="result">
      </tbody>
    </table>
    <br>

    <br>
  </div> -->

  <!-- <script type="text/javascript">
    "use strict";
    // var outerObj = {};
    var outerObj = [];
    var successMessage = document.getElementById("success-checkout");

    function pageLoadScripts() {
      successMessage.style.visibility = "hidden";
    };

    function addPartToOrder(event) {
      // Stop the form from submitting since we’re handling that with AJAX.
      event.preventDefault();

      // var _group_name = document.getElementById("group_name").value;
      var _member_name = document.getElementById("member_name").value;
      console.log(_member_name);
      // var _partID = document.getElementById("partID").value;
      // var obj = {
      //   group_name: _group_name,
      //   member_name: _member_name
      //   // partID: _partID
      // };
      // console.log(outerObj)
      var ElementExist = document.getElementById('member_name');
      // console.log(ElementExist);
      if (ElementExist != null) {
        console.log("TEST");
        outerObj.push(_member_name);
        $('#result').append('<tr id="' + _member_name + 'row"><th scope="row" id="' + _member_name + '">' + _member_name + '</th><td id="' + _member_name + '_Delete"><button id="deleteEntryButton" class="btn btn-danger" onclick="deleteEntry(this)">Delete</button></td></tr>');
        console.log(outerObj);
      } else {
        var totalQty = document.getElementById(obj.partName + '_qty').textContent;
        document.getElementById(obj.partName + '_qty').innerHTML = parseInt(totalQty) + parseInt(obj.partQty);
        outerObj[_partName].partQty = parseInt(obj.partQty) + parseInt(outerObj[_partName].partQty)
        console.log(outerObj[_partName].partQty);
      };

    };

    function deleteEntry(btndel) {
        if (typeof(btndel) == "object") {
          console.log($(btndel).closest("tr")[0].cells[0].textContent);
          delete outerObj[$(btndel).closest("tr")[0].cells[0].textContent];
          console.log(outerObj);
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function sendPostData(event) {
      event.preventDefault();
      var partData = JSON.stringify(outerObj);
      console.log(partData);
      $.post("", {
        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        partData
      });


      successMessage.style.visibility = "visible";
      successMessage.innerHTML = "Your parts have been added to the database.";
    };

    var addPartButton = document.getElementById("addItemButton").addEventListener("click", addPartToOrder);
    var sendPostDataEvent = document.getElementById("submitButton").addEventListener("click", sendPostData);
    var deleteEntryButton = document.getElementById("deleteEntryButton").addEventListener("click", deleteEntry);
    document.addEventListener("submit", sendPostData);
  </script> -->

  {% endblock %}
</body>

</html>
