<!--Import template base.html layout-->
{% extends 'base.html' %}

<!--Button code adapted from:
https://getbootstrap.com/docs/4.0/components/buttons/
https://www.w3schools.com/bootstrap/bootstrap_buttons.asp
-->

<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>LANDING PAGE</title>
  {% endblock %}
  <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
</head>

<body>
  {% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome {{ userFirstName }}</h1>
      <p class="lead">What would you like to do?</p>
    </div>

    <div class="row">
      <div class="col-md-4">
          <h2>Add a receipt</h2>
          <p>
              Add a receipt and assign it to a group
          </p>
          <p><a href="{% url 'addReceipt' %}" class="btn btn-outline-primary">Add a Receipt</a></p>
      </div>
          <div class="col-md-4">
              <h2>Create a group</h2>
              <p>
                  Create a group to assign receipts to
              </p>
              <p><a href="{% url 'createGroup' %}" class="btn btn-outline-primary">Create a Group</a></p>
          </div>
  </div>

  </div>
  {% endblock %}
</body>

</html>
