<!--Import template base.html layout-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>LOGIN</title>
  {% endblock %}
</head>
{% block body %}
<div class="container">


  <body onload="javascript:document.getElementById('loginUserInput').focus();">
  {%if request.GET.logoutFlag == "True" %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Logout Successful</h4>
      <p>You have been successfully logged out of the system</p>
      <hr>
      <p class="mb-0">If you would like to login again, enter your phone number below.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endif %}

{%if request.GET.registerFlag == "True" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Registation Successful</h4>
    <p>You have been successfully registered as a new user</p>
    <hr>
    <p class="mb-0">If you would like to login again, enter your phone number below.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
  </div>
  {% endif %}

    <div class="jumbotron">
        <img src="../../static/shopperHelper/logo/splittyLogo.png" alt="It's Litty" style="width:20%;">
      <!-- <h1>Welcome to the Splitty <strong>(DRS)</strong></h1> -->
      <h1><strong>Welcome to the Splitty</strong></h1>
      <p class="lead">Automate your receipt splitting process now!</p>
    </div>

    <!--Phone Number Form-->

    <form method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput">Type Phone Number</label> {{ form.login_form_data }}
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success" role="button">Submit</a>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
