<!--Import template base.html layout-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>SELECT ITEMS</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
  </head>
    {% block body %}
    <body onload="pageLoadScripts()">
        <div class="container">

            {%if request.GET.imageUploadSuccessFlag == "True" %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Image Upload Successful</h4>
                <p>You're image has been successfully uploaded</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              </div>
              {% endif %}
          <div class="jumbotron">
            <h1>Select Items to Split</h1>
            <p class="lead">Hello, {{ userFirstName }}, please select the items you want to split.</p>
          </div>

          <button id="submitButton" class="btn btn-outline-primary btn-lg btn-block" onclick="uncheckAll()" type="reset">Clear All Selections</button>
          <br>
          {% for fullName in nameOfGroupMembersList %}
          <table class="table table-striped">
            <thead>
              <tr>
                <h3> {{ fullName }} </h3>
                <th scope="col">Split?</th>
                <th scope="col">Item Number</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Price</th>
              </tr>
            </thead>
            <form>
              {% csrf_token %}
            <tbody class="result" id="result">
              {% for itemNumber, itemName, itemPrice in item_list %}
                  <tr>
                  <td scope="row"><label><input type="checkbox" name="{{ fullName }}" value="{{ number }}_checkbox" onchange="var _item = '{{ itemNumber }}';var _assigned = this.value; var _userA = '{{ ID }}';addPartToOrder(_part, _quantity,_id)"></label></th>
                  <th scope="row">{{ itemNumber }}</th>
                  <td scope="row">{{ itemName }}</td>
                  <td scope="row">{{ itemPrice }}</td>
                  </tr>

              {% endfor %}
          {% endfor %}
            </tbody>
          </form>
          </table>
          <button id="submitButton" class="btn btn-outline-success btn-lg btn-block" onclick="sendPostData()" type="submit">Submit</button>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody class="result" id="result">
            </tbody>
          </table>
        </div>



        <script type="text/javascript">
        "use strict";

        function uncheckAll(){
            $('input[type="checkbox"]:checked').prop('checked',false);
        }

        // var outerObj = {};
        // function addPartToOrder(_itemNumber,_itemName,_itemPrice)
        // {
        //   var obj = {
        //     itemNumber: _itemNumber,
        //     itemName: _itemName,
        //     itemPrice: _itemPrice
        //   };
        //   console.log(obj);
        //   console.log(outerObj)
        //   outerObj[_itemName] = obj;
        // };

        function addPartToOrder(event) {
          // Stop the form from submitting since we’re handling that with AJAX.
          event.preventDefault();

          var _userAssigned = document.getElementById("partName").value;

          var obj = {
            partName: _partName,
            partQty: _partQty,
            partID: _partID
          };
          console.log(outerObj)
          var ElementExist = document.getElementById(obj.partName + '_partName');
          console.log(ElementExist);
          if (ElementExist == null) {
            outerObj[_partName] = obj;
            $('#result').append('<tr id="' + obj.partName + 'row"><th scope="row" id="' + obj.partName + '_partName">' + obj.partName + '</th><td id="' + obj.partName + '_qty">' + obj.partQty + '</td><td id="' + obj.partName + '_IDNumber">' + obj.partID +
              '</td><td id="' + obj.partName + '_Delete"><button id="deleteEntryButton" class="btn btn-danger" onclick="deleteEntry(this)">Delete</button></td></tr>');
            // $('#result').append($('ul.list').append('<li>' + obj[1]["Value"] + ' , ' + obj[2]["Value"] + '</li>'));
            console.log(obj);
          } else {
            var totalQty = document.getElementById(obj.partName + '_qty').textContent;
            document.getElementById(obj.partName + '_qty').innerHTML = parseInt(totalQty) + parseInt(obj.partQty);
            outerObj[_partName].partQty = parseInt(obj.partQty) + parseInt(outerObj[_partName].partQty)
            console.log(outerObj[_partName].partQty);
          };

        };


        function sendPostData() {
          // event.preventDefault();
          var itemData = JSON.stringify(outerObj);
          console.log(itemData);
          $.post("", {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            itemData
          });
        };
        var sendPostDataEvent = document.getElementById("submitButton").addEventListener("click", sendPostData);
        </script>
        {% endblock %}
  </body>
</html>
